<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Landing Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>

        .navbar {
            background-color: #f8f9fa; /* Light gray background */
        }
        .footer {
            margin-top : 200px;
            background-color: #343a40;
            color: #ffffff;
            text-align: center;
            padding: 20px;
        }
        .content {
            margin-top : 170px;
            text-align: center; /* Center-align content */
            padding-top: 50px; /* Add top padding
        }
    </style>
</head>
<body>

<!-- Navigation bar -->
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">E-commerce Product</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

</nav>

<!-- Center-aligned content -->
<div class="content">
    <h1>Welcome to E-commerce Product</h1>
    <p>All Type of Products Available.</p>
    <button type="button" class="btn btn-primary" onclick="location.href='/view'">Categories</button>
    <button type="button" class="btn btn-secondary" onclick="location.href='/productview'">Products</button>
</div>

<!-- Footer -->
<footer class="footer">
    <p>&copy; 2024 E-commerce Product. All rights reserved.</p>
</footer>

<!-- Bootstrap scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
